{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'MainPage.css' %}">
</head>

<body>
    <div class="head">
        <h1>Welcome to the Main Page</h1>
        <h2>This Page is Specified to choose the website you want to visit</h2>
        <p>To choose your site point on the image and click on the website name</p>
    </div>
    <br>
    <div class="image1">
        <img class="image1__img" src="{% static 'img/human_resources.png' %}" alt="Bricks">
        <div class="image1__overlay image1__overlay--primary">
            <div class="image1__title">Human Resources Website</div>
            <p class="image1__description">
                This is the Human Resources Website click to visit
            </p>
        </div>
    </div>

    <br>


    <div class="image2">
        <img class="image2__img" src="{% static 'img/student_affairs.png' %}" alt="Bricks">
        <div class="image2__overlay image2__overlay--primary">
            <div class="image2__title"><a href="HomePage.html" target="_blank">Affairs website</a> </div>
            <p class="image2__description">
                This is the Affairs website click to visit
            </p>
        </div>
    </div>

    <br>


    <div class="image3">
        <img class="image3__img" src="{% static 'img/higher_studies.png' %}" alt="Bricks">
        <div class="image3__overlay image3__overlay--primary">
            <div class="image3__title">Higher studies website</div>
            <p class="image3__description">
                This is the Higher studies website click to visit
            </p>
        </div>
    </div>

    <br>


    <div class="image4">
        <img class="image4__img" src="{% static  'img/laboratory.png' %}" alt="Bricks">
        <div class="image4__overlay image4__overlay--primary">
            <div class="image4__title"> Laboratory tracking website</div>
            <p class="image4__description">
                This is the Laboratory tracking website click to visit
            </p>
        </div>
    </div>




</body>

</html>