{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Department Page</title>
    <link rel="stylesheet" href="{% static 'student_asssignment.css' %}" />
  </head>

  <body class="body">
    <div class="nav">
      <ul>
        <li><a href="HomePage.html" class="active">Home Page</a></li>
        <li>
          <a href="Add_New_Student_Page.html" class="add">Add New Student</a>
        </li>
        <li>
          <a href="Activitystatus.html" class="view"
            >View Student Active/Inactive</a
          >
        </li>
        <li><a href="UpdateDelete.html" class="update">Update Student</a></li>
        <li>
          <a href="SearchInfo_Table.html" class="search"
            >Search For Active Students</a
          >
        </li>
        <li>
          <a href="student_assignment.html" class="student"
            >Student Assignment Department</a
          >
        </li>
      </ul>
    </div>
    <br />
    <!---------------------page #5-------------------->
    <!------Student's Department Assignment  ------>
    <div class="h1">
      <h1 name="AssignmentPageHeading">Student's Department Assignment</h1>
    </div>
    <br />
    <form class="form" method="post" action="">
      {% csrf_token %}
      <h2 name="InfoHeading">Student's Info</h2>
      <!-- <div class="Name">
        <label> Name: </label>
        <p id="name">{{student.name}}</p>

         <input type="text" style= "display: flex;flex-direction: row;width: 100%;"  name = "StudentNameText" autofocus disabled > 
      </div> -->
      <!-- <hr /> -->
      <div class="ID">
        <label> ID: </label>
        <input type="number" name="student_id" id="id1" />
      </div>
      <!-- <hr /> -->
      <!-- <div class="Level">
        <label
          style="font-family: arial; font-size: large"
          name="StudentLeText"
        >
          Level:
        </label>
        <p id="Level">{{student.level}}</p>
         <input style = "width: 100%;"   autofocus disabled>
      </div> -->
      <hr />
      <div class="sDepartment">
        <label
          style="font-family: sans-serif; font-size: large"
          name="StudenyDepartmentText"
        >
          Department:
        </label>
        <select
          id="mySelect"
          class="ddown"
          name="Department"
          value="Department"
        >
          <option>CS</option>
          <option>IS</option>
          <option>AI</option>
          <option>IT</option>
          <option>DS</option>
        </select>
      </div>
      <br />
      <div class="d">
        <input type="submit" id="submission" value="Submit" />
      </div>
    </form>
    <script src="{% static 'student_asssignment.js' %}"></script>
  </body>
</html>
