{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update and delete student information</title>
    <link rel="stylesheet" href="{% static 'UpdateDeletecss.css' %}">

</head>

<body class="body">

    <ul>
        <li><a class="active" href="HomePage.html">Home Page</a></li>
        <li><a href="Add_New_Student_Page.html" class="add">Add New Student</a></li>
        <li><a href="Activitystatus.html" class="view">View Student Active/Inactive</a></li>
        <li><a href="UpdateDelete.html" class="update">Update Student</a></li>
        <li><a href="SearchInfo_Table.html" class="search">Search For Active Students</a></li>
        <li><a href="student_assignment.html" class="student">Student Assignment Department</a></li>
    </ul>
    
    <br>
    <h3 align="center" class="head">Update and Delete Students Information</h3>
    <br>
    
    <form onsubmit="myFunction()" method="post">
        {% csrf_token %}
        <div>
            <label  class="student_id">Student ID: </label>
            <input  id="student_id" type="number" placeholder="Student ID" class="IP1" name="student_id">

            <br>

            <label >Student Name: </label>
            <input  id="name" type="text" placeholder="xxxx-xxxxx-xxxxx" class="IP2" name="name">

            <br>

            <label >Date of Birth: </label>
            <input id="date_of_birth" type="date" placeholder="D/M/Y" class="IP3" name="date_of_birth">

            <br>

            <label >Student GPA: </label>
            <input id="gpa" type="text" placeholder="GPA" class="IP4" name="gpa">

            <br>

            <label >Student Gender: </label>
            <select id="gender" name="gender" class="IP5">
                        <option>Select-Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                        </select>

            <br>

            <select id="level" name="level" class="IP6" onchange="selectFunction()">
                    <option>Level-1</option>
                    <option>Level-2</option>
                    <option>Level-3</option>
                    <option>Level-4</option>
               </select>


            <br>

            <label >Activity Status: </label>
            <select id="active" name="active" class="IP7" id="activity">
                    <option  > Active</option>
                    <option  > InActive</option>
                </select>


            <br>

            <label >Student Department: </label>
            <select id="department" name="department" class="IP8" id="mydep">
                    <option class="generaldep" > General </option>
                    <option  class="dep"> CS</option>
                    <option class="dep" > IS</option> 
                    <option  class="dep"> AI</option>
                    <option  class="dep"> IT</option>
                    <option  class="dep"> DS</option>
                </select>



            <br>

            <label >Student Email: </label>
            <input id="email" type="email" placeholder="Email" class="IP9" name="email">

            <br>

            <label >Student Mobile Number: </label>
            <input id="mobile" type="text" placeholder="Number" minlength="11" class="IP10" name="mobile">

            <div class="button">
                <input type="reset" value="Delete" autofocus class="SUBMIT_BUTTON" onclick="deleteFun()">
                <input type="submit" value="Update" autofocus class="SUBMIT_BUTTON" onclick="submitfun()">
            </div>

    </form>
    <script src="{% static 'Updatedelete.js' %}"></script>
    <script>
        selectFunction();
    </script>

</body>

</html>